<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AnimeViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AnimeViewer.Properties.Settings>
            <setting name="SearchApiurl" serializeAs="String">
                <value>http://www.animenewsnetwork.com/encyclopedia/reports.xml?id=155&amp;type=anime&amp;nlist=all&amp;search=</value>
            </setting>
            <setting name="InformationApiUrl" serializeAs="String">
                <value>http://cdn.animenewsnetwork.com/encyclopedia/api.xml?anime=</value>
            </setting>
            <setting name="ImagesPath" serializeAs="String">
                <value>images</value>
            </setting>
            <setting name="SerieInfoFile" serializeAs="String">
                <value>animeviewer.info</value>
            </setting>
            <setting name="MessageUnatachSerie" serializeAs="String">
                <value>Are you sure you want to unatach this serie?</value>
            </setting>
        </AnimeViewer.Properties.Settings>
    </userSettings>
</configuration>